<template>
  <div class="flex flex-wrap">
    <profile-card
      v-for="profile in profiles"
      :key="profile.name"
      :profile="profile"
    />
  </div>
</template>


<script>
export default {
  props: {
    teamPath: String,
    profiles: Array,
  },
};
</script>